In [1]:
import json
import pandas as pd

# Need to inlcude the statement below before importing pandas_datareader if your version of pandas is the most recent 0.23.0
pd.core.common.is_list_like = pd.api.types.is_list_like

from pandas_datareader import data, wb

In [2]:
pd.__version__

'0.23.0'

In [7]:
df = pd.read_excel('../capstone/data/IPO Data CLEAN.xlsx', 'ALL IPO Data', usecols=9)
df.head()

,Headline,Source,Date,Word Count,Text,Company,Industry,IPO Period,Day of Week,Source Tier
0,FACEBOOK ROLLS OUT NEW ADS TO WOO MADISON AVEN...,Aberdeen American News,2012-02-29,358,Facebook wooed Madison Avenue on Wednesday wit...,Facebook,Technology,1,4,4
1,FACEBOOK PRICES ITS STOCK AT $38 A SHARE FOR IPO,Aberdeen American News,2012-05-17,515,Facebook Inc. priced its shares in its initial...,Facebook,Technology,1,5,4
2,REGULATORS LOOKING INTO MORGAN STANLEY ROLE IN...,Aberdeen American News,2012-05-22,288,NEW YORK -- Securities regulators are amping u...,Facebook,Technology,2,3,4
3,"FACEBOOK, MORGAN STANLEY FACE CLASS-ACTION SUI...",Aberdeen American News,2012-05-23,583,WASHINGTON -- A class-action lawsuit was filed...,Facebook,Technology,2,4,4
4,FAQ: Facebook's IPO,Abilene Reporter-News,2012-02-03,947,The most anticipated IPO since Google is one s...,Facebook,Technology,1,6,4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5395 entries, 0 to 5394
Data columns (total 10 columns):
Headline       5395 non-null object
Source         5395 non-null object
Date           5395 non-null datetime64[ns]
Word Count     5395 non-null int64
Text           4476 non-null object
Company        5395 non-null object
Industry       5395 non-null object
IPO Period     5395 non-null int64
Day of Week    5395 non-null int64
Source Tier    5395 non-null int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 421.6+ KB

In [13]:
co_list = df['Company'].unique()
for co in co_list:
    print(co)

Facebook
LinkedIn
Groupon
Snapchat
Twitter
Alibaba
Etsy
Fitbit
Workday
GoPro
Blue Apron
Ferrari
General Motors
Shake Shack
Stitch Fix
Tesla

In [25]:
tickers = ['FB', 'LNKD', 'GRPN', 'SNAP', 'TWTR', 'BABA', 'ETSY', 'FIT', 'WDAY', 'GPRO', 'APRN', 'RACE', 'GM', 'SHAK', 'SFIX', 'TSLA']

In [34]:
prices_df = pd.DataFrame()
for ticker in tickers:
        temp_df = data.DataReader(str(ticker), 'morningstar', '2010-01-01', '2018-05-31')
        prices_df = prices_df.append(temp_df)

In [35]:
prices_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 17658 entries, (FB, 2012-05-18 00:00:00) to (TSLA, 2018-05-31 00:00:00)
Data columns (total 5 columns):
Close     17658 non-null float64
High      17658 non-null float64
Low       17658 non-null float64
Open      17658 non-null float64
Volume    17658 non-null int64
dtypes: float64(4), int64(1)
memory usage: 757.9+ KB

In [38]:
prices_df.loc['FB']

               Close      High       Low      Open     Volume
Date
2012-05-18   38.2318   45.0000   38.0000   42.0000  580587742
2012-05-21   34.0300   36.6600   33.0000   36.6600  168309831
2012-05-22   31.0000   33.5900   30.9400   32.5900  102053826
2012-05-23   32.0000   32.5000   31.3600   31.3800   73488656
2012-05-24   33.0300   33.2100   31.7700   32.9800   50275879
2012-05-25   31.9100   32.9500   31.1100   32.9100   37189630
2012-05-28   31.9100   31.9100   31.9100   31.9100          0
2012-05-29   28.8400   31.6900   28.6500   31.4800   78060799
2012-05-30   28.1900   29.5500   27.8600   28.7000   57267867
2012-05-31   29.6000   29.6700   26.8300   28.5400  111639200
2012-06-01   27.7200   29.1500   27.3900   28.9300   41855500
2012-06-04   26.9000   27.6500   26.4400   27.2000   35230290
2012-06-05   25.8690   27.7600   25.7500   26.7000   42473262
2012-06-06   26.8100   27.1700   25.5200   26.0700   61487019
2012-06-07   26.3100   27.3500   26.1500   27.0000   26167757
2012-06-08   27.1000   27.7600   26.4400   26.5800   38033420
2012-06-11   27.0050   28.0700   26.8350   27.1600   28225887
2012-06-12   27.4000   27.7700   26.9600   27.4800   15822414
2012-06-13   27.2700   28.1000   27.1000   27.6600   17118672
2012-06-14   28.2900   28.3200   27.3800   27.6900   16854124
2012-06-15   30.0140   30.1000   28.3500   28.5000   43563739
2012-06-18   31.4100   32.0800   29.4100   29.9600   42978209
2012-06-19   31.9110   32.1800   30.7000   31.5000   30848913
2012-06-20   31.6000   31.9288   31.1500   31.9200   15558921
2012-06-21   31.8400   32.5000   31.5100   31.6700   21875228
2012-06-22   33.0500   33.4500   32.0600   32.4100   74833976
2012-06-25   32.0600   33.0200   31.5500   32.8800   24352818
2012-06-26   33.1000   33.4400   32.5000   32.6800   24858611
2012-06-27   32.2300   32.9000   31.9000   32.4600   28599506
2012-06-28   31.3600   32.1900   30.9000   31.9600   17713292
...              ...       ...       ...       ...        ...
2018-04-20  166.2800  168.4300  165.8100  167.7900   19119438
2018-04-23  165.8400  168.4500  165.0900  167.2700   23088102
2018-04-24  159.6900  166.1000  158.1900  165.4300   35079926
2018-04-25  159.6900  161.0600  156.1900  160.1448   41083581
2018-04-26  174.1600  176.2700  170.8000  173.2200   77556934
2018-04-27  173.5900  177.1000  172.6000  176.8100   29804657
2018-04-30  172.0000  175.7200  171.7100  173.7900   20750478
2018-05-01  173.8600  174.0200  170.2300  172.0000   26025932
2018-05-02  176.0700  178.0800  174.2000  174.2460   30424450
2018-05-03  174.0200  176.1200  172.1200  175.1300   24026071
2018-05-04  176.6100  176.9800  173.0600  173.0800   17677844
2018-05-07  177.9700  179.5000  177.1700  177.3500   18697195
2018-05-08  178.9200  179.0400  177.1100  178.2500   15577211
2018-05-09  182.6600  183.0100  178.7807  179.6700   23282811
2018-05-10  185.5300  186.1292  182.5000  183.1500   21071403
2018-05-11  186.9900  188.3200  184.1800  184.8500   21207848
2018-05-14  186.6400  187.8600  186.2000  187.7100   15646744
2018-05-15  184.3200  185.2900  183.2000  184.8800   15429433
2018-05-16  183.2000  184.3200  182.6600  183.6952   16975495
2018-05-17  183.7600  184.0600  182.2200  182.6800   14840675
2018-05-18  182.6800  184.1900  182.6100  183.4900   13130451
2018-05-21  184.4900  185.3000  183.1300  183.7700   13532864
2018-05-22  183.8000  185.4200  183.4300  184.9300   12731419
2018-05-23  186.9000  186.9100  182.1800  182.5000   16628100
2018-05-24  185.9300  186.8000  185.0300  185.8800   11575282
2018-05-25  184.9200  186.3300  184.4500  186.0200   10965061
2018-05-28  184.9200  184.9200  184.9200  184.9200          0
2018-05-29  185.7400  186.8100  183.7100  184.3400   16398937
2018-05-30  187.6700  188.0000  185.2500  186.5400   13580196
2018-05-31  191.7800  192.7200  187.4800  187.8700   29160221

[1575 rows x 5 columns]

In [39]:
prices_df.to_csv('IPO_MKT_PRICES.csv')

In [42]:
ipodata_df = pd.read_excel('../capstone/data/SCOOP-Rating-Performance.xls', 'SCOOP Scorecard', usecol=11, skiprows=36)
ipodata_df.columns=['Date', 'Issuer', 'Symbol', 'Managers', 'Offer Price', 'Open Price', '1st Day Close','1st Day % Px Chng', '$ Change Opening', '$ Change Close', 'Ratings','Performed'
]
ipodata_df = ipodata_df.set_index('Symbol')
ipodata_df.head()

,Date,Issuer,Managers,Offer Price,Open Price,1st Day Close,1st Day % Px Chng,$ Change Opening,$ Change Close,Ratings,Performed
Symbol,,,,,,,,,,,
ILPT,2018-01-12 00:00:00,Industrial Logistics Properties Trust,UBS Investment Bank/ Citigroup/ RBC Capital Ma...,24,23.7,23.35,-0.0270833,-0.3,-0.65,1,NaN
LBRT,2018-01-12 00:00:00,Liberty Oilfield Services,"Morgan Stanley/ Goldman, Sachs/ Wells Fargo Se...",17,21.2,21.75,0.279412,4.2,4.75,2,NaN
EAGLU,2018-01-12 00:00:00,Platinum Eagle Acquisition,Deutsche Bank Securities/ BofA Merrill Lynch,10,10.06,10.01,0.001,0.06,0.01,1,NaN
PAGS,2018-01-24 00:00:00,PagSeguro Digital Ltd.,Goldman Sachs/ Morgan Stanley,21.5,28.2,29.2,0.35814,6.7,7.7,3,NaN
EYEN,2018-01-25 00:00:00,Eyenovia,Ladenburg Thalmann/ Roth Capital Partners​,10,10,9.92,-0.008,0,-0.08,1,NaN

In [43]:
ipodata_df.loc['FB']

Date                                         2012-05-18 00:00:00
Issuer                                                 Facebook
Managers             Morgan Stanley/ J.P. Morgan/ Goldman, Sachs
Offer Price                                                   38
Open Price                                                    42
1st Day Close                                              38.23
1st Day % Px Chng                                     0.00605263
$ Change Opening                                               4
$ Change Close                                              0.23
Ratings                                                        4
Performed                                                    NaN
Name: FB, dtype: object

In [44]:
ipo_df = ipo_df.loc[tickers]
ipo_df

,Date,Issuer,Managers,Offer Price,Open Price,1st Day Close,1st Day % Px Chng,$ Change Opening,$ Change Close,Ratings,Performed
Symbol,,,,,,,,,,,
FB,2012-05-18 00:00:00,Facebook,"Morgan Stanley/ J.P. Morgan/ Goldman, Sachs",38,42,38.23,0.00605263,4,0.23,4,NaN
LNKD,2011-05-19 00:00:00,LinkedIn,Morgan Stanley/ BofA Merrill Lynch /J..P. Morg...,45,83,94.25,1.09444,38,49.25,3,NaN
GRPN,2011-11-04 00:00:00,Groupon,"Morgan Stanley/ Goldman, Sachs/ Credit Suisse",20,28,26.11,0.3055,8,6.11,3,NaN
SNAP,2017-03-02 00:00:00,Snap,Morgan Stanley/ Goldma Sachs/ J. P. Morgan/ De...,17,23.71,24.48,0.44,6.71,7.48,3,NaN
TWTR,2013-11-07 00:00:00,Twitter,Goldman Sachs/ Morgan Stanley/ J.P. Morgan/ Bo...,26,45.1,44.9,0.726923,19.1,18.9,3,NaN
BABA,2014-09-19 00:00:00,Alibaba Group Holding,Credit Suisse/ Deutsche Bank Securities/ Goldm...,68,92.7,93.89,0.380735,24.7,25.89,4,NaN
ETSY,2015-04-16 00:00:00,Etsy,Goldman Sachs,16,31,30,0.875,15,14,3,NaN
FIT,2015-06-18 00:00:00,Fitbit,Morgan Stanley/ Deutsche Bank Securities/ BofA...,20,30.4,29.68,0.484,10.4,9.68,4,NaN
WDAY,2012-10-12 00:00:00,Workday,"Morgan Stanley/ Goldman, Sachs",28,48.05,48.69,0.738929,20.05,20.69,3,NaN
GPRO,2014-06-26 00:00:00,GoPro,J.P. Morgan/ Citigroup/ Barclays,24,28.65,31.34,0.305833,4.65,7.34,3,NaN
APRN,2017-06-29 00:00:00,Blue Apron Holdings,Goldman Sachs/ Morgan Stanley/ Citigroup/ Barc...,10,10,10,0,0,0,1,NaN
RACE,2015-10-21 00:00:00,Ferrari N.V.,UBS Investment Bank/ BofA Merrill Lynch/ Santa...,52,60,55,0.0576923,8,3,3,NaN
GM,2010-11-18 00:00:00,General Motors Company,Morgan Stanley/ J.P. Morgan/ BofA Merrill Lync...,33,35,34.19,0.0360606,2,1.19,3,NaN
SHAK,2015-01-30 00:00:00,Shake Shack,J.P. Morgan/ Morgan Stanley,21,47,45.9,1.18571,26,24.9,3,NaN
SFIX,2017-11-17 00:00:00,Stitch Fix,Goldman Sachs/ J.P. Morgan Securities,15,16.9,15.15,0.01,1.9,0.15,1,NaN
TSLA,2010-06-29 00:00:00,Tesla Motors,"Goldman, Sachs/ Morgan Stanley/ J.P. Morgan/ D...",17,19,23.98,0.410588,2,6.98,3,NaN

In [47]:
ipo_df.to_csv('IPO_INFO.csv', sep='|')